:root {
  --bg: rgb(17, 21, 27);
  --loginoutline: rgb(65, 65, 65);
  --loginbg: rgb(24, 30, 39);
  --inputbg: rgb(49, 49, 49);

  --error: rgba(179, 62, 62, 0.637);
  --errorborder: rgb(202, 57, 57);

  --success: rgba(62, 156, 60, 0.637);
  --successborder: rgb(55, 155, 53);

  --subcolor: rgb(57, 134, 67);
}

h1, p , label{
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg) ;

  display: flex;
  justify-content: center;
}

input {
  border: none;
  border-color: var(--bg);
  border-radius: 2px;
  height: 30px;
  outline: none;

  color: #FFFFFF;
  padding-left: 7px;
  background-color: var(--inputbg);
  
  transition: height 0.2s, border 0.1s;
}

input:hover {
  outline: rgba(109, 109, 109, 0.836) solid 2px;

  height: 30px;
}

input::placeholder {
  color: rgb(172, 172, 172)
}

input:focus {
  border-bottom: 3px solid rgb(57, 117, 197);
}

.status-box {
  background-color: var(--success);
  width: 75%;
  height: 12%;

  display: flex;

  border-radius: 3px;
  border: 2px solid var(--successborder);

  text-align: center;
  flex-direction: column;
  justify-content: center;

  transition: opacity 750ms;
}

.sub {
  background-color: rgb(39, 210, 102);
  color: #ffffff;

  height: 30px;
  width: 100%;

  border-radius: 2px;
  border:rgb(36, 160, 82);
}

.sub:hover {
  background-color: rgb(48, 197, 103);
}

.title {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.container{
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
  
  height: 300px;
  width: 300px;
  
  border: 2px solid var(--loginoutline);
  background-color: var(--loginbg);
  border-radius: 5px;
}

.loginform label {
  padding-top: 10px;
  font-weight: bold;
  align-items: flex-start;
}

.loginform{
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
}
