h1, p , label{
  color: #FFFFFF
}

span {
  color: gold
}

.sub {
  background-color: rgb(39, 210, 102);
  margin-top: 10px;
  height: 30px;
  border-radius: 2px;
  border:rgb(39, 210, 102);
}

.sub:hover {
  background-color: rgb(47, 228, 113);
}

.title {
  text-align: center;
}

body {
  background-color: #1b263b;

  margin: 0;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.loginform{
  display: flex;
  flex-direction: column;
}